<html>
<head>
    <title>
        $translations.get('email.turn.subject', $translations.get(
            'game.' + $event.gameId.id + '.name'), $dateTime.format($event.started))
    </title>
</head>
<body>
<p>$translations.get('email.salutation', $user.username)</p><br/>
<p>$translations.get(
    'email.turn.body', $translations.get('game.' + $event.gameId.id + '.name'), $dateTime.format($event.started))</p>
<p><a href="$url/$event.gameId.id/$event.tableId.id">$translations.get('email.turn.action')</a></p><br/>
    $translations.get('email.greeting')<br/>
Board Game Fiesta<br/>
<a href="$url">$url</a>
</body>
</html>